---
import Base from './Base.astro'
const { frontmatter } = Astro.props
---

<Base title={frontmatter.title}>
  <p>by {frontmatter.author}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

  <img src={frontmatter.image.url} width='300' alt={frontmatter.image.alt} />

  <slot />
</Base>
